body {
  font-family: "Roboto Slab", serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-text {
  font-family: "Roboto Mono", monospace;
}

.large-text {
  font-size: 22px;
}

.form-btn {
  width: 250px;
  border-radius: 25px !important;
  margin-top: 15px;
}

.auth-form {
  border-style: solid;
  border-radius: 15px !important;
  border-color: grey;
  border-width: 2px;
  padding: 25px;
  margin-top: 50px;
}

input:focus {
  border-bottom: 1px solid #1976d2 !important;
  box-shadow: 0 1px 0 0 #1976d2 !important;
}

i.active {
  color: #1976d2 !important;
}

label.active {
  color: #1976d2 !important;
}

.preloader-margin {
  margin-top: 250px;
}

.nav-icon {
  margin-right: 5px;
  height: 100%;
}

.action-icon {
  font-size: x-large;
  margin: 10px;
}

.add-icon {
  font-size: 30px !important;
  padding: 0px !important;
}

.notification-board {
  border-style: solid;
  border-radius: 15px !important;
  border-width: 2px;
  border-color: grey;
}

.project-summary {
  border-style: solid;
  border-radius: 15px !important;
  border-width: 2px;
  color: grey;
}

.project-details {
  border-style: inset;
  border-radius: 15px !important;
  border-width: 5px;
  color: black;
}

.collapsible-header {
  font-size: larger;
  display: block !important;
}

.collapsible li.disabled .collapsible-body {
  display: none !important;
}

.modal-container {
  border-style: solid;
  border-radius: 15px !important;
  border-color: grey;
  border-width: 2px;
}

.modal-content {
  height: 100% !important;
}

.checkbox-left {
  display: inline-block !important;
}

.profile-summary {
  border-radius: 15px !important;
}
