rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      // Allow anyone who is signed in to write to own details
      allow create, read
      allow write: if request.auth.uid == userId
    }
    
    match /users/{userId}/projects/{project} {
      // Users can write their own projects
      allow read
      allow write: if request.auth.uid == userId
    }
    
    match /users/{userId}/employments/{employment} {
      // Users can write their own projects
      allow read
      allow write: if request.auth.uid == userId
    }
    
    match /users/{userId}/educations/{education} {
      // Users can write their own educations
      allow read
      allow write: if request.auth.uid == userId
    }
    
    match /users/{userId}/customs/{custom} {
      // Users can write their own custom sections
      allow read
      allow write: if request.auth.uid == userId
    }

    match /users/{userId}/views/{date} {
      allow read, write
    }
    
    match /notifications/{project} {
      allow read
    }
    
  }
}